In [1]:
import pandas as pd

In [2]:
my_dogs = {'Name':['Cookie', 'Chikky', 'Lucky'], 'Age':['2 years', '2 years', '1 year'], 'Gender':['Male', 'Female', 'Female']} 
pd.DataFrame(my_dogs)

     Name      Age  Gender
0  Cookie  2 years    Male
1  Chikky  2 years  Female
2   Lucky   1 year  Female

In [32]:
dogs = pd.DataFrame(my_dogs) 
dogs.head() 
print(dogs)

     Name      Age  Gender
0  Cookie  2 years    Male
1  Chikky  2 years  Female
2   Lucky   1 year  Female

In [8]:
dogs.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
dogs.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [10]:
dogs['Name']

0    Cookie
1    Chikky
2     Lucky
Name: Name, dtype: object

In [12]:
dogs.loc[0]

Name       Cookie
Age       2 years
Gender       Male
Name: 0, dtype: object

In [27]:
dogs2 = pd.DataFrame() 

Name = ["Cookie", "Chikky", "Lucky"]
Age = ["2 years", "2 years", "1 year"] 
Gender = ["Male", "Female", "Female"] 

dogs2["Name"] = Name
dogs2["Age"] = Age  
dogs2["Gender"] = Gender   

print(dogs2)

     Name      Age  Gender
0  Cookie  2 years    Male
1  Chikky  2 years  Female
2   Lucky   1 year  Female

In [31]:
print(dogs)

0    Cookie
1    Chikky
2     Lucky
Name: Name, dtype: object

In [33]:
print(dogs)

     Name      Age  Gender
0  Cookie  2 years    Male
1  Chikky  2 years  Female
2   Lucky   1 year  Female

In [34]:
df = dogs 
df.to_csv("dogs1.csv")

In [35]:
print(dogs2)

     Name      Age  Gender
0  Cookie  2 years    Male
1  Chikky  2 years  Female
2   Lucky   1 year  Female

In [36]:
df2 = dogs2 
df2.to_csv("dogs2.csv")

## Question and Answers

**What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?** 

The write/render/evaluate loop provides speed, efficiency, and an opportunity for iteration. This allows creators of interactive data visualizations to set rules, tweak them, render and re-render output immediately, and try alternate mappings on millions of values and large datasets in a moment. 

**Why are dynamic, interactive data visualizations useful when communicating data?**  

It helps engage different sets of audiences, giving them the opportunity to explore the data, zoom, and filter as needed. It is better than static images as it can present multidimensional datasets in an engaging way. This approach can also help audiences who might not otherwise care to look at the data to engage and explore it for themselves. 

**Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree** 

Yes, I agree with Murrayâ€™s claim because proprietary software can be restrictive and costly, whereas open-source tools are widely accessible and cost-efficient.